{:production {:db1.username bill_over
              :db1.password xxx123}
 :staging {:db1.username billy_over
           :db1.password 234567wr}
 :samurai {:db1.username bill_over
           :db1.password xxx123
           :dimensions.username dim_user
           :dimensions.password sh1n345}}
